.navbar, .navbar-default .navbar-brand, .navbar-default .navbar-nav li a {
    background: #FF6347;
    border: none;
    border-radius: 0;
    color: #ffffff;
    font-family: 'Sofia', sans-serif;
    font-weight: 900;
    font-size: 24px;
    height: 40px;
}

#logout-btn {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav li a:hover {
  color: #cccccc;
}

.friend_button {
  background: #FF6347;
  border: 0;
  margin-bottom: 5px;
  height: 40px;
  border-radius: 3px;
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.inline_friend {
     margin: 0.25em auto;
     vertical-align: top;
     text-align: center;
     display: inline-block;
     width: 33.3333%;
     float: left;
}

.inline_form {
  display: inline-block;
}
.btn-default {
  text-align: center;
  background: #FF6347;
  border: 0;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

h1 {
  text-align: center;
  font-family: 'Sofia', sans-serif;
  font-weight: 900;
  color: #FF6347;
}

h4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: 600;  
}
#searchTextField {
    padding:8px 15px;
    background:rgba(50, 50, 50, 0.2);
    border:0px solid #dbdbdb;
    width: 700px;
}

#tracking_note {
    width: 470px;
}

#tracking_review {
    width: 470px;
}

span.glyphicon-search {
    font-size: 1.75em;
}

.add_rest {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: 600;
  width: 90%;
  margin-left: auto ;
  margin-right: auto ;
}

#rep_visited {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.inline {
    display: inline-block;
}

#sort_filter {
    text-align: right;
    font-size: 14px;
    margin-top: 5px;
}