{% extends 'base.html' %}

{% block head %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Sofia" rel="stylesheet">
    <link rel="stylesheet" href="/static/login.css">
    
{% endblock %}

{% block content %}

  <!-- Navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">To-eat List</a>
        </div>
    </div>
  </nav>

  <!-- Handle if a user is already logged in -->
  {% if 'user_id' in session and session['user_id'] != None %}
    <a href="/profile/{{ session['user_id'] }}">Return to My Profile</a><br><br>
  {% else %}
    <br>
    <br>
    <h1>Log in to your To-eat List account</h1>
    <br>
    <form action="/login" method="POST">
        <label>Email </label><input name="email" type="email"><br>
        <label>Password </label><input name="password" type="password"><br><br><br>
        <input type="submit" value="Submit">
    </form>
  {% endif %}

{% endblock %}