{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Sofia" rel="stylesheet">
    <style>


.navbar, .navbar-default .navbar-brand, .navbar-default .navbar-nav li a {
    background: #FF6347;
    border: none;
    border-radius: 0;
    color: #ffffff;
    font-family: 'Sofia', sans-serif;
    font-weight: 900;
    font-size: 24px;
    height: 40px;
}

#logout-btn {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav li a:hover {
  color: #cccccc;
}

.friend_button {
  background: #FF6347;
  border: 0;
  margin-bottom: 5px;
  height: 40px;
  border-radius: 3px;
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.inline_friend {
     margin: 0.25em auto;
     vertical-align: top;
     text-align: center;
     display: inline-block;
     width: 33.3333%;
     float: left;
}

.inline_form {
  display: inline-block;
}
.btn-default {
  text-align: center;
  background: #FF6347;
  border: 0;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

h1 {
  text-align: center;
  font-family: 'Sofia', sans-serif;
  font-weight: 900;
  color: #FF6347;
}

h4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: 600;  
}
#searchTextField {
    padding:8px 15px;
    background:rgba(50, 50, 50, 0.2);
    border:0px solid #dbdbdb;
    width: 700px;
}

#tracking_note {
    width: 470px;
}

#tracking_review {
    width: 470px;
}

span.glyphicon-search {
    font-size: 1.75em;
}

.add_rest {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: 600;
  width: 90%;
  margin-left: auto ;
  margin-right: auto ;
}

#rep_visited {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.inline {
    display: inline-block;
}

#sort_filter {
    text-align: right;
    font-size: 14px;
    margin-top: 5px;
}

</style>
{% endblock %}
{% block content %}

{% if 'user_id' in session and session['user_id'] != None %}
    {% if session['user_id'] %}
        <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#navbar"
                        aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">To-eat List</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="logout-btn" href="/logout">Logout</a><br></li>
                </ul>
            </div>
        </div>
    </nav>
    {% endif %}
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

    <h1>Welcome, {{ user.first_name }}!</h1>
    <!-- ADD REST -->
        <div class="add_rest">

            <h2 class="btn btn-default" id="add_rest_header"><span class="glyphicon glyphicon-plus-sign"></span> Add a Restaurant</h2>

                <form action="/profile/<user_id>" method="POST" id="tracking_form"><br><br>  
                        <input id="searchTextField" type="text" id="search" name="search">
                        <br>
                        Have you visited this restaurant?
                        <input type="radio" name="yes" value="yes" id="yes">Yes
                        <input type="radio" name="no" value="no" id="no">No
                        <br>
                            <div id="track">
                                Note to Myself <input id="tracking_note" type="text" name="tracking_note">
                                <input type="submit" id="submit" value="Add Restaurant">
                            </div>
                            <div id="review">
                                Add a Review <input id="tracking_review" type="text" name="tracking_review">
                                   <input type="submit" id="submit" value="Add Restaurant">
                            </div>
                        <br>
                </form>
                <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ key }}&libraries=places"></script>

    <!-- REST DETAILS -->
        <div class='rest_details'>
        <!-- Div for all restaurant related info -->
            <h2 class="btn btn-default" id="list_header"><span class="glyphicon glyphicon-check"></span> My To-eat List</h2>
            <!-- Div for form and original_list -->
                <div id="rest_list">
                <div id="sort_filter">
                <!-- Div for form -->
                    <div class="inline" id="filter_list">
                        <!-- <span class="glyphicon glyphicon-filter"></span> -->
                            <form action="/filter_rest" method="GET" id="filter_form">
                                <select id="filter_select">
                                    <option value="visited">Status: Visited</option>
                                    <option value="not_visited">Status: To-eat</option>
                                    {% for city in cities %}
                                    <option value="{{ city }}">Location: {{ city }}</option>
                                    {% endfor %}
                                </select>
                                <span class="glyphicon glyphicon-filter"></span>
                                <input type="submit" value="Filter"></input>
                            </form>
                        <br><br>
                    </div>
                    <!-- Closes #filter_list div -->
                    <!-- Opens #sort_list div -->
                    <div class="inline" id="sort_list">
                            <form action="/sort_rest" method="GET" id="sort_form">
                                <select id="sort_select">
                                    <option value="low_price">Price: Low to High</option>
                                    <option value="high_price">Price: High to Low</option>
                                    <option value="low_rating">Rating: Low to High</option>
                                    <option value="high_rating">Rating: High to Low</option>
                                    <option value="newest">Listings: Newest First</option>
                                    <option value="oldest">Listings: Oldest First</option>
                                </select>
                                <span class="glyphicon glyphicon-sort"></span>
                                <input type="submit" value="Sort"></input>
                            </form>
                        <br><br>
                    </div>
                    <!-- Closes #sort_list div -->
                </div>
                       <div class="container" id="original_rest">
                            <!-- Div for original_rest -->
                            <div class='tiles'>
                                {% if user.trackings|length > 0 %}
                                {% set count = 0 %}
                                {% for tracking in user.trackings %}
                                    <div class='rest_photo'><img src="{{ tracking.restaurant.photo}}" width="100" height="100"></a></div>
                                    <a href="/tracking/{{ tracking.tracking_id }}">{{ tracking.restaurant.rest_name }}</a>
                                    {% if tracking.visited %}
                                        <p>You've eaten here <span class="glyphicon glyphicon-check"></span></p>
                                    {% else %}
                                        <p>On your To-eat List <span class="glyphicon glyphicon-unchecked"></span></p>
                                    {% endif %}
                                {% endfor %}
                                </article>
                                {% else %}
                                    <p>You don't have any restaurants in your To-eat List.</p>
                                {% endif %}
                            </div>
                        </div>
                    <!-- Closes original_rest div -->
                </div>
                <!-- Closes rest_list div -->
        </div>
        <!-- Closes rest_details div -->
        <div class='friend_details'>
            <h2 class="btn btn-default" id="friend_header"><span class="glyphicon glyphicon-user"></span> My Friends</h2>
            <div id="friend_info">
            <div class="inline_friend">
            <div id="current_friends">
            <h4>Current Friends</h4>
            {% if friend_id_names|length > 0 %}
                {% for friend in friend_id_names %}
                <form action="/friend_profile" method="GET">
                    <input type="hidden" name="friend_id" value="{{ friend[0] }}">
                    <input class="friend_button" type="submit" value="{{ friend[1] }}">
                </form>
                {% endfor %}
            {% else %}
                <p>You don't have any To-eat List friends yet.</p>
            {% endif %}
            </div>
            </div>
            <div class="inline_friend">
            <div id="pend_friends">
            <h4>Friend Requests</h4>
            {% if pend_id_names|length > 0 %}
                {% for pend in pend_id_names %}
                {{ pend[1] }}
                <form class="inline_form" action="/accept_friend" method="GET">
                    <input type="hidden" id="accept_id" name="accept_id" value="{{ pend[0] }}">
                    <input class="friend_button" type="submit" id="accept" value="Accept">
                </form>
                <form class="inline_form" action="/delete" method="GET">
                    <input type="hidden" name="friend_id" value="{{ pend[0] }}">
                    <input class="friend_button" type="submit" id="reject"value="Reject">
                </form>
                <br>
                {% endfor %}
            {% else %}
                <p>You do not have any friend requests at this time.</p>
            {% endif %}
            </div>
            </div>
            <div class="inline_friend">
            <div id="sugg_friends">
            <h4>Suggested Friends</h4>
            {% if sugg_id_names|length > 0 %}
                {% for sugg in sugg_id_names %}
                <form action="/request_friend" method="GET">
                    <input type="hidden" name="request_id" value="{{ sugg[0] }}">
                    <input class="friend_button" type="submit" value="Add {{ sugg[1] }}">
                </form>
                {% endfor %}
            {% else %}
                <p>We don't have any friends to suggest at this time.</p>
            {% endif %}
            </div>
            </div>
            </div>

{% else %}
    <a id='login_link' href="/login">Please login.</a>
{% endif %}

{% endblock %}
