{% extends 'base.html' %}

{% block head %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Sofia" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/profile.css">

{% endblock %}

{% block content %}

  <!-- Handles whether a user is logged in; Navbar -->
  {% if 'user_id' in session and session['user_id'] != None %}
    {% if session['user_id'] %}
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">To-eat List</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav"></ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a id="logout-btn" href="/logout">Logout</a><br></li>
            </ul>
          </div>
        </div>
      </nav>
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <h1>Welcome, {{ user.first_name }}!</h1>

  <!-- Add a restaurant -->
  <div class="add_rest">
    <h2 class="btn btn-default" id="add_rest_header"><span class="glyphicon glyphicon-plus-sign"></span> Add a Restaurant</h2>
      <form action="/profile/<user_id>" method="POST" id="tracking_form"><br><br>  
        <input id="searchTextField" type="text" id="search" name="search"><br>
        Have you visited this restaurant?
        <input type="radio" name="yes" value="yes" id="yes">Yes
        <input type="radio" name="no" value="no" id="no">No<br>
        <div id="track">
          Note to Myself 
          <input id="tracking_note" type="text" name="tracking_note">
          <input type="submit" id="submit" value="Add Restaurant"><br>
        </div>
        <div id="review">
          Add a Review 
          <input id="tracking_review" type="text" name="tracking_review">
          <input type="submit" id="submit" value="Add Restaurant">
        </div><br>
      </form>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ key }}&libraries=places"></script>


  <!-- My To-eat List -->
  <div class='rest_details'>
    <h2 class="btn btn-default" id="list_header"><span class="glyphicon glyphicon-check"></span> My To-eat List</h2>
    <div id="rest_list">

    <!-- Sort and filter tools -->
    <div id="sort_filter">
      <div class="inline" id="filter_list">
        <form action="/filter_rest" method="GET" id="filter_form">
          <select id="filter_select">
            <option value="visited">Status: Visited</option>
            <option value="not_visited">Status: To-eat</option>
            {% for city in cities %}
            <option value="{{ city }}">Location: {{ city }}</option>
            {% endfor %}
          </select>
          <span class="glyphicon glyphicon-filter"></span>
          <input type="submit" value="Filter"></input>
        </form><br><br>
      </div>
      <div class="inline" id="sort_list">
        <form action="/sort_rest" method="GET" id="sort_form">
          <select id="sort_select">
            <option value="low_price">Price: Low to High</option>
            <option value="high_price">Price: High to Low</option>
            <option value="low_rating">Rating: Low to High</option>
            <option value="high_rating">Rating: High to Low</option>
            <option value="newest">Listings: Newest First</option>
            <option value="oldest">Listings: Oldest First</option>
          </select>
          <span class="glyphicon glyphicon-sort"></span>
          <input type="submit" value="Sort"></input>
        </form><br><br>
      </div>
    </div>

    <!-- User's tracked restaurants -->
    <div class="container" id="original_rest">
      <div class='row'>
        <div class='col-lg-12' id="result_div">
          {% if user.trackings|length > 0 %}
            {% for tracking in user.trackings %}
              <div class='col-md-4'>
                <div class='rest_photo'><img src="{{ tracking.restaurant.photo}}" width="100" height="100">
                </div>
                  <a href="/tracking/{{ tracking.tracking_id }}">{{ tracking.restaurant.rest_name }}</a>
                  {% if tracking.visited %}
                    <p>You've eaten here <span class="glyphicon glyphicon-check"></span></p>
                  {% else %}
                    <p>On your To-eat List <span class="glyphicon glyphicon-unchecked"></span></p>
                  {% endif %}
              </div>
            {% endfor %}
          {% else %}
            <p>You don't have any restaurants in your To-eat List.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <!-- Friends -->
  <div class='friend_details'>
    <h2 class="btn btn-default" id="friend_header"><span class="glyphicon glyphicon-user"></span> My Friends</h2>
    <div id="friend_info">

      <!-- Current friends -->
      <div class="inline_friend">
        <div id="current_friends">
          <h4>Current Friends</h4>
            {% if friend_id_names|length > 0 %}
              {% for friend in friend_id_names %}
                <form action="/friend_profile" method="GET">
                    <input type="hidden" name="friend_id" value="{{ friend[0] }}">
                    <input class="friend_button" type="submit" value="{{ friend[1] }}">
                </form>
              {% endfor %}
            {% else %}
              <p>You don't have any To-eat List friends yet.</p>
            {% endif %}
        </div>
      </div>

      <!-- Pending friends -->
      <div class="inline_friend">
        <div id="pend_friends">
          <h4>Friend Requests</h4>
            {% if pend_id_names|length > 0 %}
              {% for pend in pend_id_names %}
                {{ pend[1] }}
                <form class="inline_form" action="/accept_friend" method="GET">
                  <input type="hidden" id="accept_id" name="accept_id" value="{{ pend[0] }}">
                  <input class="friend_button" type="submit" id="accept" value="Accept">
                </form>
                <form class="inline_form" action="/delete" method="GET">
                    <input type="hidden" name="friend_id" value="{{ pend[0] }}">
                    <input class="friend_button" type="submit" id="reject"value="Reject">
                </form><br>
              {% endfor %}
            {% else %}
              <p>You do not have any friend requests at this time.</p>
            {% endif %}
        </div>
      </div>

      <!-- Suggested friends  -->
      <div class="inline_friend">
        <div id="sugg_friends">
          <h4>Suggested Friends</h4>
            {% if sugg_id_names|length > 0 %}
              {% for sugg in sugg_id_names %}
                <form action="/request_friend" method="GET">
                    <input type="hidden" name="request_id" value="{{ sugg[0] }}">
                    <input class="friend_button" type="submit" value="Add {{ sugg[1] }}">
                </form>
              {% endfor %}
            {% else %}
              <p>We don't have any friends to suggest at this time.</p>
            {% endif %}
        </div>
      </div>

  </div>
{% else %}
    <a id='login_link' href="/login">Please login.</a>
{% endif %}

{% endblock %}