{% extends 'base.html' %}

{% block head %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Sofia" rel="stylesheet">
    <link rel="stylesheet" href="/static/registration.css">
 
{% endblock %}

{% block content %}

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">To-eat List</a>
    </div>
  </div>
</nav>

<!-- Registation form -->
<br><br><h1>Create an Account</h1><br>
<form action="/registration" method="POST">
    <label>First Name: </label><input name="first_name" type="text"><br>
    <label>Last Name: </label><input name="last_name" type="text"><br>
    <label>Email Address: </label><input name="email" type="email"><br>
    <label>Password: </label><input name="password" type="password"><br>
    <label>Desired Username: </label><input name="username" type="text"><br><br>
    <br><br><br><input type="submit" value="Register">
</form>

{% endblock %}